<h2>All Users</h2>

<% @users.each do |user| %>
  <li class = "list_items">
    <%= "#{user.first_name} #{user.last_name}" %>
    <% if !current_user.already_followed(user) %>
      <%= link_to "Follow", friendships_path(friend_id: user), method: :post %>
    <% end %>
  </li>
<% end %>

<%= paginate @users %>

