---
http_interactions:
- request:
    method: get
    uri: http://api.yelp.com/business_review_search?location=Kansas%20City,MO&term=Quay&ywsid=<Yelp
      API key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web75-r7-sfo1, api_com
      Content-Type:
      - application/json; charset=utf-8
      X-Mode:
      - rw
      X-Proxied:
      - lb2
    body:
      encoding: UTF-8
      string: '{"message": {"text": "OK", "code": 0, "version": "1.1.1"}, "businesses":
        [{"rating_img_url": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "country_code": "US", "id": "xMHamE0X48EeHRpjeVYoMg", "is_closed": false,
        "city": "Kansas City", "mobile_url": "http://m.yelp.com/biz/quay-coffee-kansas-city",
        "review_count": 91, "zip": "64105", "state": "MO", "rating_img_url_small":
        "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "address1": "412 Delaware", "address2": "", "address3": "", "phone": "8164717277",
        "state_code": "MO", "categories": [{"category_filter": "coffee", "search_url":
        "http://www.yelp.com/search?cflt=coffee\u0026find_desc=\u0026find_loc=412+Delaware%2C+Kansas+City+64105",
        "name": "Coffee \u0026 Tea"}], "photo_url": "http://media3.fl.yelpcdn.com/bpthumb/i4aGTjUWSKjafzSbbwGRIg/ms",
        "distance": 0.67655718326568604, "name": "Quay Coffee", "neighborhoods": [{"url":
        "http://www.yelp.com/search?exclude_start=True\u0026find_desc=\u0026find_loc=Rivermarket%2C+Kansas+City%2C+MO",
        "name": "Rivermarket"}, {"url": "http://www.yelp.com/search?exclude_start=True\u0026find_desc=\u0026find_loc=Greater+Downtown%2C+Kansas+City%2C+MO",
        "name": "Greater Downtown"}], "url": "http://www.yelp.com/biz/quay-coffee-kansas-city",
        "country": "USA", "avg_rating": 5.0, "nearby_url": "http://www.yelp.com/search?find_desc=\u0026find_loc=412+Delaware%2C+Kansas+City+64105",
        "reviews": [{"rating_img_url_small": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a6210baec261/ico/stars/v1/stars_small_2.png",
        "user_photo_url_small": "http://media1.fl.yelpcdn.com/upthumb/9swsYwLxSrrdkQFIJnrnfQ/ss",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/b561c24f8341/ico/stars/v1/stars_2.png",
        "rating": 2, "user_url": "http://www.yelp.com/user_details?userid=hS9aVUWhnoI4x_GWXgmdCQ",
        "url": "http://www.yelp.com/biz/quay-coffee-kansas-city?hrid=iToyNvb4E7IX2jmP2Ty71A",
        "mobile_uri": "/biz/quay-coffee-kansas-city?full=True\u0026hrid=iToyNvb4E7IX2jmP2Ty71A",
        "text_excerpt": "I''ve been to a few hundred coffee shops in my life and the
        caption that goes with a 2 star review fits this place perfectly. Literally,
        \"Meh. I''ve...", "user_photo_url": "http://media1.fl.yelpcdn.com/upthumb/9swsYwLxSrrdkQFIJnrnfQ/ms",
        "date": "2014-06-27", "user_name": "Tim Y.", "id": "iToyNvb4E7IX2jmP2Ty71A"}],
        "photo_url_small": "http://media3.fl.yelpcdn.com/bpthumb/i4aGTjUWSKjafzSbbwGRIg/ss"},
        {"rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "country_code": "US", "id": "oXN5qT4cZgV4ZJA2mj-MVg", "is_closed": false,
        "city": "Kansas City", "mobile_url": "http://m.yelp.com/biz/scratch-bakery-cafe-kansas-city",
        "review_count": 5, "zip": "64105", "state": "MO", "rating_img_url_small":
        "http://s3-media2.fl.yelpcdn.com/ass[...]
- request:
    method: get
    uri: http://api.yelp.com/business_review_search?location=&ywsid=<Yelp API key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Node:
      - web41, api_com
      Content-Type:
      - text/plain; charset=utf-8
      X-Mode:
      - rw
      X-Proxied:
      - lb1
    body:
      encoding: UTF-8
      string: '{"message": {"text": "Bad location", "code": 202, "version": "1.1.1"},
        "businesses": []}'
  recorded_at: Wed, 16 Jul 2014 17:31:18 GMT
recorded_with: VCR 2.9.2
