<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="food-img">
      <div class="container center">
        <div>
          <h1><span class="jumbo-title">Restaurant Bookmark</span></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="about">
      <div class="center">
        <h2 class="about_text">About</h2>
        <div class= "search_favorite_view">
          <div class="col-md-4">
            <i class="fa fa-search fa-5x"></i>
            <h3>Search</h3>
            <p>FavorEats is a fun and easy way to keep track of all your favorite restaurants! FavorEats
            lets you search through restaurants with yelp and gives you a list of their information. once you sign up, just go to your profile and click Search Yelp! to start your collection of restaurants.</p>
          </div>

          <div class="col-md-4">
            <i class="fa fa-star-o fa-5x"></i>
            <h3>Favorite</h3>
            <p>FavorEats allows you to favorite restaurants by either looking at what others have favorited or searching for your own. Just click the star next to the name of the restaurant and it will be added to your favorite restaurants. </p>
          </div>

          <div class="col-md-4">
            <i class="fa fa-map-marker fa-5x"></i>
            <h3>View</h3>
            <p>To view information on one of your favorite restaurants, just click the restaurant button and your see the information as well as a map of where that restaurant is located. To view what categories you tend to favor visit your profile and click on Category Chart. This will show you a graph on the categories you like the most!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
  <footer>
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="favoreats_footer">Created by Caleb Thill, Copyright © 2014 <strong>FavorEats<strong></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
<% end %>

