<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="food-img">
      <div class="container center">
        <div>
          <h1><span class="jumbo-title">Restaurant Bookmark</span></h1>
        </div>
      </div>
    </div>
  </div>

  <div clas="container"
<% end %>

